{plugins, [{rebar3_nix, {git, "https://github.com/dlesl/rebar3_nix.git", {branch, "deps-of-deps"}}}]}.

{deps, [
        accept,
        base64url,
        bbmustache,
        bear,
        brod,
        certifi,
        coveralls,
        cowboy,
        crc32cer,
        credentials_obfuscation,
        elvis_core,
        epgsql,
        erlexec,
        erlsom,
        erlware_commons,
        gen_smtp,
        getopt,
        goldrush,
        grpc_gun,
        gun,
        hackney,
        ibrowse,
        idna,
        jiffy,
        jose,
        jsone,
        jsx,
        kafka_protocol,
        katana_code,
        lager,
        meck,
        metrics,
        mimerl,
        parse_trans,
        poolboy,
        prometheus,
        ranch,
        recon,
        snappyer,
        ssl_verify_fun,
        supervisor3,
        uuid_erl,
        yamerl,
        zipper
       ]}.
